/* page.css --  used with page.html for template.

   Impt: Use with reset.css OR  normailise.css
 */

@font-face {
  font-family: DIN;
  src: url(font/DIN/din1451engschrift.ttf);
}

@font-face {
  font-family: GOTHAMbold;
  src: url(font/Gotham/Gotham-Bold.otf);
}

@font-face {
  font-family: GOTHAMbook;
  src: url(font/Gotham/Gotham-Book.otf);
}

body  {
    margin:    0;
    border:    0;
    padding:   0;
    font-size: 100%;
}
.faq{
  font-family: GOTHAMblack;
  h1{font-size: 24;font-weight: bold;}
}

#footer{
  float: left;
  width: 100%;
}
#page  {
    max-width: 1024px;
    margin: 0 auto;
    width:  100%;
}

.header-top {
  overflow: hidden;
}

.logo {
  float: left;
  margin-left: 0.6%;
}

.top-menu {
  float: left;
  width: 50%;
}

.top-nav-menu {
  margin-top: 15px;
  margin-left: 7.2%;
}

.top-menu li {
  display: inline-block;
  padding-right: 2.5%;
}

.sign {
  float: right;
  width: 12.7%;
}

.sign-in {
  margin-top: 15px;
}
.sign li {
  display: inline-block;
}
.sign li.first {
  border-right: 1px solid;
  padding-right: 7px;
 line-height: 11px;
}
.sign li a {
    text-decoration: none;
    color: #075a78;
    font-family: GOTHAMbold;
    font-size: 13px;
}
.top-menu .top-nav-menu li a{
    text-decoration: none;
    color: #075a78;
    font-family: GOTHAMbold;
    font-size: 11px;
    background: url(images/down-arrow.jpg) no-repeat center right;
    padding-right: 14px;
}


#header-block  {
    background-color: #f8f8f8;
    min-height: 144px;
    width:100%;
}


#header-menu  {
    background-color: #F9F035;
    height:   63px;
    width:    30%;
    position: relative;
    left:     23.5%;
    top:      90px;
}


#header-menu li  {
   float:           left;
   list-style-type: none;
   width:           32%;
   background:      #666;
   text-align:      center;
   border-right:    3px solid #ccc; /* TODO:last menu shouldn't have a border */
}

.radios {
  margin-left: 5.8%;
  margin-top: 9px;
  float: left;
  width: 7.8%;
}

.listen {
  float: left;
  margin-top: 21px;
}

.listen a {
  text-decoration: none;
  color: #015b7e;
  font-family: GOTHAMbold;
  font-size: 14px;
  letter-spacing: 2px;
}
/* Not used */
.mid-border  {
  border-left: 1px solid #ccc;
  border-right:1px solid #ccc; /* TODO:last menu shouldn't have a border */
}

/**css for header tabs **/
.header-tabs ul li {
  display: inline-block;
}

.header-tabs {
  float: left;
  margin-left: 4.7%;
}

.header-tabs li a.radio {
  color: #0054a5;
  background: #ffe102;
  padding: 15px 30px;
  line-height: 46px;
}

.header-tabs li a {
  text-decoration: none;
  font-family: GOTHAMbold;
  font-size: 22px;
}

.header-tabs li.community {
  margin-left: -2px;
}

.header-tabs li.events {
  margin-left: -2px;
}

.header-bottom-media {
  float: right;
  margin-top: -32px;
  margin-right: 3.2%;
}

.header-tabs li a.community {
  background: #ff8201;
  padding: 15px 26px;
  color: #fff;
}

.header-tabs li a.events {
  background: #015b7e;
  padding: 15px 23px;
  color: #fff;
}

#main-menu {
  background: #ffe100;
  line-height: 38px;
}

#main-menu li {
  display: inline-block;
  padding-right: 1.5%;
}

#main-menu li a {
  color: #0054a5;
  font-family: GOTHAMbold;
  font-size: 13px;
  display: inline-block;
  text-decoration: none;
}

#main-menu li.first {
  padding-left: 3.3%;
}
#main-menu input {
  margin-left: 25%;
  border: 0px;
  padding: 4px;
}
#main-content{
  overflow: hidden;
  margin: 0 3.4%;
}
/*my code*/
#secondry-menu{
  background:#FDF9B0;
  line-height:30px;
  text-decoration: none;

}
#secondry-menu ul {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}
#secondry-menu li{
   color:rgb(62, 86, 51);
   text-decoration: none;
    display: inline-block;
    font-family: GOTHAMbold;
    font-size: 10px;
    line-height: 22px;
    list-style-type: none;
    }
     #secondry-menu li.first {
        padding-left: 0.0%;
        margin-left:19px;

    
}
#secondry-menu li{
  
  text-decoration: none;

}
#secondry-menu li a{
  
  text-decoration: none;
  color:rgb(17, 96, 2);
  font-size: 12px;
  padding-left: 13px;
  

}
#secondry-menu li a:hover{
  color: black;

}

.middleleftcontent{
  float: left;
  width: 600px;
  margin-top: -23px;
  margin-left: 32px;
  margin-bottom: 14px;


}
.middlerightcontent
{
  
float:right;
width:300px;
background-color:rgb(238, 238, 238);
margin-top:22px;
margin-right: 24px;
padding-right: 2px;
margin-bottom: 24px;
height: auto;

}
.middlerightcontent li
{


  border-bottom: 1px dotted;
    font-family: GOThambook;
    list-style: none outside none;
    margin-left: 18px;
    margin-right: 25px;
    padding: 10px 20px 2px 42px;
font-size: 12px;

margin-bottom: 12px;
}
.boldmiddlerightcontent
{
  font-size: 13px;
  font-family: GOThambook;
  font-weight: bolder;
}
.faq {
  margin-top: 38px;
  margin-left: 33px;
  font-size: 29px;
  font-family:GOTHAMbold;
  
    

}
.faqquestion
{ 
  margin-top:9px;
  font-size:18px;
  font-family: GOTHAMbold;
  margin-bottom: 4px;

}
.faqpara
{
  margin-left: 13px;
  margin-top: -17px;
  font-size: 14px;
  font-weight:verdna;
  font-family:GOTHAmbook;
 line-height: 24px; 
  

}
.recent
{
  float: right;
  width: 350px;
  
  font-size: 16px;
  font-family:GOTHAMBOLD;
  
  }
  .recent,p
  {
    padding-left: 26px;
    padding-top: 17px;
    font-style: gothambold;
    font-size: 14px;
  }
  
.uirecentbold
{
  font-family:GOTHAMbook;
  font-size: 14px;
  margin-left: 40px;
  margin-top: 60px;
  font-weight: bold;
}

.primary-content {
  float: left;
  width: 72.5%;
}

.news-today {
  margin-top: 34px;
}

.news-today h1 {
  color: #1f1f1f;
  font-size: 20px;
  font-family: GOTHAMbold;
  display: inline-block;
}

.news-date {
  color: #bababa;
  font-family: GOTHAMbook;
  font-size: 20px;
  margin-left: 0.6%;
}

.slider {
  float: left;
  margin-top: 14px;
  width: 444px;
  height: 401px;
}

.latest-news-bulletion {
  float: left;
  margin-top: 15px;
  margin-left: 0.3%;
  background: #f1f1f1;
  width: 34.6%;
  padding-bottom: 7px;
}

.latest-news-bulletion li {
  display: inline-block;
  border-bottom: 1px solid #9c9c9c;
  padding-bottom: 8px;
  padding-top: 5px;
  width: 100%;
}

.latest-news {
  padding: 0px 3.6%;
}

.latest-news-bulletion .news-label {
  font-family: GOTHAMbold;
  font-size: 12px;
  color: #0054a5;
  display: block;
  margin-top: 10px;
  margin-bottom: 8px;
}

.latest-news-bulletion .news-bulletion-label {
  display: block;
  background: #242021;
  line-height: 29px;
  margin-left: 2px;
  margin-right: 1px;
  text-align: center;
  color: #f2f33d;
  font-size: 13px;
  font-family: GOTHAMbold;
  padding-left: 3.8%;
}

.latest-news-bulletion li a {
  font-family: GOTHAMbook;
  font-size: 13px;
  color: #242223;
  padding-left: 0.8%;
  text-decoration: none;
}

.on-air {
  margin-top: 34px;
  margin-bottom: 14px;
}

.on-air h1 {
  color: #1f1f1f;
  font-size: 20px;
  font-family: GOTHAMbold;
}

.sidebar-second {
  float: left;
  margin-left: 2.1%;
  width: 240px;
}

.foriegn-affair {
  position: relative;
}

.affair-content{
  position: absolute;
  top: 0;
  min-width: 200px;
}

.affair-text1 {
  color: #fff;
  margin-top: 17px;
  display: inline-block;
  margin-left: 8.2%;
  font-size: 20px;
  font-family: DIN;
}

.foriegn-affair .affair-text {
  display: block;
  width: 100px;
  color: #fff;
  font-family: DIN;
  font-size: 30px;
  margin-left: 10%;
  line-height: 26px;
}

.foriegn-affair .philip-mottaz {
  display: inline-block;
  font-size: 11px;
  font-family: GOTHAMbold;
  color: #f8f943;
  margin-top: 41px;
  margin-left: 9.6%;
  width: 105px;
}

.foriegn-affair .listen-live {
  background: #fcee36;
  margin-top: 30px;
  display: block;
  margin-left: 4%;
  line-height: 18px;
  width: 105px;
}

.foriegn-affair .listen-live img {
  margin-left: 5%;
  margin-top: 3px;
}

.foriegn-affair .listen-live a {
  text-decoration: none;
  font-size: 12px;
  font-family: GOTHAMbold;
  color: #28181b;
  padding-left: 4px;
}

.sidebar-second .next-content {
  background: #e40c23;
  padding: 12px 5.5% 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.sidebar-second .next-label, .next-description {
  font-family: GOTHAMbold;
  font-size: 14px;
  color: #f9e838;
  margin-bottom: 4px;
}

.sidebar-second .next-name {
  font-size: 18px;
  font-family: GOTHAMbold;
  color: #fff;
  margin-bottom: 4px;
}

.sidebar-second .later-content {
  background: #015b7e;
  margin-top: 3px;
  padding: 14px 5% 8px;
}

.later-content .later-label {
  color: #FFF;
  font-size: 14px;
  font-family: GOTHAMbold;
  line-height: 9px;
}

.later-content .later-description {
  line-height: 22px;
}

.later-content .later-time {
  font-size: 14px;
  font-family: GOTHAMbook;
  color: #fff;
  padding-right: 12px;
}

.later-content .later-text {
  color: #fff63d;
  font-size: 14px;
  font-family: GOTHAMbold;
}

.content-bottom-banner {
  margin-top: 35px;
  float: left;
}

/** css for footer **/
#footer .footer-menu li {
  display: inline-block;
  padding: 9px 2.2%;
  float: left;
}

#footer .footer-menu li a {
  text-decoration: none;
  font-family: GOTHAMbold;
  font-size: 12px;
  color: #fff227;
}

#footer .footer-menu li.news {
  background: #e40c23;
}

#footer .footer-menu li.arts {
  background: #6a37d4;
}

#footer .footer-menu li.business {
  background: #0153a5;
}

#footer .footer-menu li.home-family {
  background: #ef4f1d;
}

#footer .footer-menu li.life {
  background: #646464;
}

#footer .footer-menu li.science-tech {
  background: #34b751;
}

#footer .footer-menu li.sports {
  background: #1d58f0;
}

.footer-bottom {
  background: #f8f8f8;
  float: left;
  width: 100%;
}

.footer-bottom-menu ul {
  color: #1b1b1b;
  font-size: 12px;
  font-family: GOTHAMbold;
}

.footer-bottom-menu ul h1 {
  margin-bottom: 4px;
}

.footer-content-partners ul h1{
  margin-bottom: 20px;
}

.footer-bottom-menu li {
  line-height: 17px;
}

.footer-bottom-menu li a{
  text-decoration: none;
  font-size: 12px;
  font-family: GOTHAMbook;
  color: #065983;
}

.footer-bottom-menu {
  float: left;
  width: 100%;
  padding-top: 50px;
}

.footer-wrs {
  float: left;
  width: 26.1%;
}

.footer-wrs li {
  padding-left: 8.2%;
}
.footer-radio {
  float: left;
  width: 14.1%;
}

.footer-community {
  float: left;
  width: 14.1%;
}

.footer-events {
  float: left;
  width: 14%;
}

.footer-about {
  float: left;
  width: 12%;
}

.footer-content-partners {
  float: left;
}
