.jobprofile .news-today h1 {
  font-size: 30px;
}

.jobprofile .primary-content {
  width: 66.4%;
}

.jobprofile .radio-description {
  font-family: GOTHAMbook;
  font-size: 14px;
  margin-top: 33px;
  line-height: 20px;
}

.jobprofile .positon,
.jobprofile .what-offer,
.jobprofile .job-description,
.jobprofile .radio-bottom {
  margin-top: 20px;
  font-family: GOTHAMbook;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.jobprofile .positon h1,
.jobprofile .qualificatiion h1,
.jobprofile .what-offer h1 {
  font-size: 16px;
  font-family: GOTHAMbold;
}

.jobprofile .primary-content ul{
  padding-left: 3%;
}

.jobprofile .primary-content ul li{
  list-style-type: disc;
}

.jobprofile .qualificatiion {
  line-height: 20px;
  font-family: GOTHAMbook;
  font-size: 14px;
}

.jobprofile .job-position {
  float: left;
  width: 30%;
}

.jobprofile .job-date {
  float: left;
  width: 70%;
}

.job-details {
  border-bottom: 1px solid;
  float: left;
  width: 100%;
  padding: 4px 0px;
}

.jobprofile .radio-bottom {
  float: left;
  width: 100%;
}

.jobprofile .sidebar-second {
  margin-top: 96px;
}

.jobprofile .sidebar-second .title {
  font-family: GOTHAMbold;
  font-size: 14px;
  margin-bottom: 23px;
}

.jobprofile .posts-view-all a,
.jobprofile .posts-view-all {
  text-align: center;
  margin-left: 0;
}
