/* page.css --  used with page.html for template.

   Impt: Use with reset.css OR  normailise.css
 */

@font-face {
  font-family: DIN;
  src: url(font/DIN/din1451engschrift.ttf);
}

@font-face {
  font-family: GOTHAMbold;
  src: url(font/Gotham/Gotham-Bold.otf);
}

@font-face {
  font-family: GOTHAMbook;
  src: url(font/Gotham/Gotham-Book.otf);
}

body  {
    margin:    0;
    border:    0;
    padding:   0;
    font-size: 100%;
}




#main-menu {
  background: #ffe100;
  line-height: 38px;
}

#main-menu li {
  display: inline-block;
  padding-right: 1.5%;
}

#main-menu li a {
  color: #0054a5;
  font-family: GOTHAMbold;
  font-size: 13px;
  display: inline-block;
  text-decoration: none;
}

#main-menu li.first {
  padding-left: 3.3%;
}
#main-menu input.search {
  margin-left: 16.5%;
  border: 0px;
  padding: 4px;
  width: 150px;
  outline: none;
  padding-left: 10px;
}

.main-region {
  width: 1024px;
  margin: 0 auto;
}

#main-content{
  overflow: hidden;
  padding: 0 3.5%;
  background: #fff;
  padding-bottom: 52px;
}

#main-menu form {
  float: left;
  width: 235px;
  height: 24px;
}

#main-menu .submit {
  display: inline-block;
  border: none;
  width: 28px;
  background: url(images/search.jpg);
  height: 23px;
  text-indent: -9999em;
  margin-left: -4px;
}

#main-menu ul {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}



.sub-menu
{
height:32px;
background-color:#FDF9B0;
}


.sub-menu ul
{
float:left;
text-decoration:none;
margin-left:194px;

}
.sub-menu ul li
{
display:block;
float:left;
text-decoration:none;
margin-right:5px;
margin-top:10px;

}


.sub-menu ul li a
{
display:block;
float:left;
text-decoration:none;
margin-right:15px;
color:#34727F;
 font-family: GOTHAMbook;
 font-weight:bold;
 font-size:13px;
}


.sub-menu1
{
background-color:#F8F8F8;
height:32px;
}

.sub-menu1 ul
{
float:left;
text-decoration:none;
margin-left:194px;
}

.sub-menu1 ul li
{
display:block;
float:left;
text-decoration:none;
margin-right:5px;
margin-top:10px;

}


.sub-menu1 ul li a
{
display:block;
float:left;
text-decoration:none;
margin-right:15px;
color:#34727F;
 font-family: GOTHAMbook;
 font-weight:bold;
 font-size:13px;
}

.main
{
width:1000px;
border:#00CCFF medium thin;
height:auto;
padding-bottom:20px;

}

.left-main h1
{
font-family:GOTHAMbold;
font-size:24pt;
font-weight:bold;
margin-bottom:37px;
margin-top: 50px;
}
.left-main img
{
width:630px;
float:left;
height:400px;
margin-bottom:40px;
}
.right-main img
{
width:320px;
float:right;
height:400px;
margin-bottom:40px;
margin-right:50px;

}
.center-content
{
float:left;
width:620px;
position:relative;
}
.left-center-content img
{
float:left;
width:308px;
height:152px;
}
.right-center-content img
{
float:right;
width:310px;
height:152px;
}



.left-center-date
{
position:absolute;
font-size:12px;
margin-top:12px;
margin-left:8px;
background-color:#FFFFFF;
width:125px;
height:12px;
}
.left-center-date1
{
position:absolute;
font-size:12px;
margin-top:12px;
margin-left:12px;
background-color:#FFFFFF;
width:125px;
height:12px;
right: 172px;
}
.left-center-date2
{
position:absolute;
font-size:12px;
margin-top:9px;
margin-left:10px;
background-color:#FFFFFF;
width:125px;
height:14px;
}
.left-center-date3
{
position:absolute;
font-size:12px;
margin-top:12px;
margin-left:8px;
background-color:#FFFFFF;
width:125px;
height:12px;
right: 172px;

}

/***
.left-center-content img
{
float:left;
width:300px;
height:175px;
}
.right-center-content img
{
float:right;
width:300px;
height:175px;
}***/
.center-content1
{
float:left;
width:620px;
}
.left-center-content1
{
float:left;
width:310px;
background-color:#666666;
height:50px;
}
.left-center-content1 h1
{
    margin-left: 12px;
    margin-top: 16px;
font-size:12pt;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
color:white;

}
.right-center-content2 h1
{
margin-left: 16px;
    margin-top: 12px;
font-size:12pt;
font-weight:bold;
color:white;
font-family:Arial, Helvetica, sans-serif;
}
.right-center-content2
{
float:right;
width:310px;
background-color:#666666;
height:50px;
}
.right-content3
{
height:393px;
float:right;
width:308px;
background-color:#E0E0E0;
font-family:GOTHAMbook;
margin-right:5px;
padding: 12px 8px 0 3px;

}
.right-content31 h2
{
font-family:GOTHAMbold;
color:#009999;
margin-left:8px;
}
.right-content4
{
float:right;
width:320px;
height:90px;
margin-right:-20px;
text-align:justify;
font-size:12px;

}
.right-content5
{
float:right;
width:320px;
height:90px;
margin-right:-20px;
text-align:justify;
font-size:12px;
}

.right-content6
{
float:right;
width:320px;
height:90px;
margin-right:-20px;
text-align:justify;
font-size:12px;
}

.right-content8
{
float:right;
width:320px;
height:100px;
font-size:12px;
margin-right:-20px;
}
.right-content3 h1
{
font-size:12pt;
font-family: GOTHAMbold;
margin-top:10px;

}
.left-center-footer
{
float:left;
width:620px;
background-color:#E2E2E2;
height:25px;
margin-top:5px;
text-align: center;
 margin-top: 15px;

}
.right-center-footer
{
float:right;
width:320px;
background-color:#E2E2E2;
height:25px;
margin-top:14px;
margin-right:5px;

}
.left-center-footer .pager1 a, .left-center-footer .pager2 a, .left-center-footer .pager3 a {
    background: url("images/pager.jpg") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 8px;
    width: 6px;
	text-indent: -9999em;

}
.center-footer .pager1 a, .center-footer .pager2 a, .center-footer .pager3 a {
    background: url("images/pager.jpg") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 8px;
    text-indent: -9999em;
    width: 6px;
}
 .center-footer .pager
{
width:100px;
margin-left:450px;
margin-top:12px;
}
.left-center-footer .pager
{
width:100px;
margin-left:250px;
margin-top:12px;
}
.right-center-footer h2
{

margin-top:7px;
margin-left:120px;
color:#3366CC;
}
.primary-content {
  float: left;
  width: 72.5%;
  height:auto;
  font-size:10px;

}
.right-content
{
width:28%
float:right;
}

.right-top1 img
{
margin-top:70px;
width:250px;
height:100px;
margin-left:10px;
margin-bottom:30px;
}
.right-top2 h1
{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
padding-left:2%;
font-weight:bold;
width:200px;
float:right;
margin-right:40px;
}

 .right-top2 img
{
width:125px;
height:110px;
margin-left:10px;
float:left;
margin-top:5px;


}
.right-top3 img
{
width:125px;
height:110px;
margin-right:2px;
float:right;
margin-top:5px;

}
.right-footer
{
background-color:#CCCCCC;
height:20px;
width:250px;
float:right;
margin-right:2px;
margin-top:5px;
}

.h1-content
{
font-size:30pt;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
margin-bottom:30px;
}
.primary-content p
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
line-height:1.5em;
text-align:justify;;
}


.news-today {
  margin-top: 34px;
}

.news-today h1 {
  color: #1f1f1f;
  font-size: 20px;
  font-family: GOTHAMbold;
  display: inline-block;
}

.news-date {
  color: #bababa;
  font-family: GOTHAMbook;
  font-size: 20px;
  margin-left: 0.6%;
}

.slider {
  float: left;
  margin-top: 14px;
  width: 444px;
  height: 401px;
}

.latest-news-bulletion {
  float: left;
  margin-top: 15px;
  margin-left: 0.3%;
  background: #f1f1f1;
  width: 34.6%;
  padding-bottom: 7px;
}

.latest-news-bulletion li {
  display: inline-block;
  border-bottom: 1px solid #9c9c9c;
  padding-bottom: 8px;
  padding-top: 5px;
  width: 100%;
}

.latest-news {
  padding: 0px 3.6%;
}

.latest-news-bulletion .news-label {
  font-family: GOTHAMbold;
  font-size: 12px;
  color: #0054a5;
  display: block;
  margin-top: 10px;
  margin-bottom: 8px;
}

.latest-news-bulletion .news-bulletion-label {
  display: block;
  background: #242021;
  line-height: 29px;
  margin-left: 2px;
  margin-right: 1px;
  text-align: center;
  color: #f2f33d;
  font-size: 13px;
  font-family: GOTHAMbold;
  padding-left: 3.8%;
}

.latest-news-bulletion li a {
  font-family: GOTHAMbook;
  font-size: 13px;
  color: #242223;
  padding-left: 0.8%;
  text-decoration: none;
}

.on-air {
  margin-top: 34px;
  margin-bottom: 14px;
}

.on-air h1 {
  color: #1f1f1f;
  font-size: 20px;
  font-family: GOTHAMbold;
}

.sidebar-second {
  float: left;
  margin-left: 2.1%;
  width: 240px;
}

.foriegn-affair {
  position: relative;
}

.affair-content{
  position: absolute;
  top: 0;
  min-width: 200px;
}

.affair-text1 {
  color: #fff;
  margin-top: 17px;
  display: inline-block;
  margin-left: 8.2%;
  font-size: 20px;
  font-family: DIN;
}

.foriegn-affair .affair-text {
  display: block;
  width: 100px;
  color: #fff;
  font-family: DIN;
  font-size: 30px;
  margin-left: 10%;
  line-height: 26px;
}

.foriegn-affair .philip-mottaz {
  display: inline-block;
  font-size: 11px;
  font-family: GOTHAMbold;
  color: #f8f943;
  margin-top: 41px;
  margin-left: 9.6%;
  width: 105px;
}

.foriegn-affair .listen-live {
  background: #fcee36;
  margin-top: 30px;
  display: block;
  margin-left: 4%;
  line-height: 18px;
  width: 105px;
}

.foriegn-affair .listen-live img {
  margin-left: 5%;
  margin-top: 3px;
}

.foriegn-affair .listen-live a {
  text-decoration: none;
  font-size: 12px;
  font-family: GOTHAMbold;
  color: #28181b;
  padding-left: 4px;
}

.sidebar-second .next-content {
  background: #e40c23;
  padding: 12px 5.5% 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.sidebar-second .next-label, .next-description {
  font-family: GOTHAMbold;
  font-size: 14px;
  color: #f9e838;
  margin-bottom: 4px;
}

.sidebar-second .next-name {
  font-size: 18px;
  font-family: GOTHAMbold;
  color: #fff;
  margin-bottom: 4px;
}

.sidebar-second .later-content {
  background: #015b7e;
  margin-top: 3px;
  padding: 14px 5% 8px;
}

.later-content .later-label {
  color: #FFF;
  font-size: 14px;
  font-family: GOTHAMbold;
  line-height: 9px;
}

.later-content .later-description {
  line-height: 22px;
}

.later-content .later-time {
  font-size: 14px;
  font-family: GOTHAMbook;
  color: #fff;
  padding-right: 12px;
}

.later-content .later-text {
  color: #fff63d;
  font-size: 14px;
  font-family: GOTHAMbold;
}

.content-bottom-banner {
  margin-top: 35px;
  float: left;
}

/** css for footer **/

/** css for content bottom */
.content-bottom-first,
.content-bottom-middle,
.content-bottom-last{
  float:left;
}

.content-bottom-middle {
width:1000px;
margin-top: 30px;
}

.programme .wrs-selection-rows {
    width: 300px;
    margin-right: 2.7%;
}

.programme .wrs-selection-rows.rows3,
.programme .wrs-selection-rows.rows6 {
  margin-right: 0;
}

.programme .content-bottom-middle {
  width: 100%;
}
.content-bottom {
  float: left;
  width: 100%;
  margin-top: 35px;
}

.content-bottom h1.title {
  color: #222021;
  font-size: 14px;
  font-family: GOTHAMbold;
  margin-bottom: 10px;
}

.wrs-platlist-img {
  height: 97px;
}

.wrs-playlist-content {
  background: #6a37d4;
  text-align: center;
  padding-bottom: 4px;
}

.wrs-playlist-main {
  padding-top: 9px;
  padding-bottom: 3px;
}

.wrs-playlist {
  margin-bottom: 7px;
}
.wrs-playlist-name {
  font-size: 12px;
  font-family: GOTHAMbook;
  color: #fff;
  padding-bottom: 5px;
}

.wrs-playlist-user {
  font-size: 12px;
  font-family: GOTHAMbold;
  color: #fff;
  padding-bottom: 2px;
}

.wrs-selection-img {
  float: left;
  width: 150px;
  height: 98px;
}

.wrs-selection-content {
  float: left;
  width: 140px;
  padding-left: 10px;
  height: 98px;
}

.wrs-selection-rows {
float: left;
width: 100%;
margin-bottom: 6px;
}

.wrs-selection-rows.rows1 .wrs-selection-content {
  background: #999999;
}

.wrs-selection-rows.rows2 .wrs-selection-content {
  background: #999999;
}

.wrs-selection-rows.rows3 .wrs-selection-content {
  background: #999999;
}

.wrs-selection-rows.rows4 .wrs-selection-content {
  background: #999999;
}

.wrs-selection-rows.rows5 .wrs-selection-content {
  background: #999999;
}

.wrs-selection-rows.rows6 .wrs-selection-content {
  background: #999999;
}
.center-footer{
height:25px;
width:950px;
background-color:#E9E9E9;
float:left;
}


.wrs-selection-main-title {
  font-size: 10px;
  font-family: GOTHAMbold;
  color: #fff;
  text-transform: uppercase;
}

.wrs-selection-main-time {
  font-size: 10px;
  color: #fff;
  font-family: GOTHAMbook;
}

.wrs-selection-main-desc {
  font-size: 14px;
  font-family: GOTHAMbold;
  color: #fff;
}

.wrs-selction-main {
  padding-top: 9px;
}

.wrs-selection-main-title {
  font-size: 10px;
  font-family: GOTHAMbold;
  color: #fff;
  text-transform: uppercase;
  line-height: 12px;
  width: 95px;
  float: left;
}

.wrs-channel-img {
  margin-top: -4px;
  background: url(images/bbc.png);
  width: 35px;
  height: 12px;
  float: right;
  margin-right: 6px;
}

.wrs-selection-rows:hover .wrs-channel-img{
  background: url(images/bbc-hiver.png);
}
.wrs-selection-main-time {
  font-size: 10px;
  color: #fff;
  font-family: GOTHAMbook;
  padding-bottom: 4px;
  width: 105px;
}

.wrs-selection-main-desc {
  font-size: 14px;
  font-family: GOTHAMbold;
  color: #fff;
  width: 130px;
  line-height: 16px;
}

.classifieds-recent-posts {
  background: #f1f1f1;
  padding: 16px;
  padding-bottom: 12px;
}

.recent-post-title {
  font-size: 12px;
  font-family: GOTHAMbold;
  color: #065775;
}

.recent-post-img {
width: 41px;
float: left;
}

.recent-post-text {
  font-family: GOTHAMbook;
  font-size: 12px;
  color: #626262;
}

.recent-post-title {
font-size: 12px;
font-family: GOTHAMbold;
color: #065775;
margin-bottom: 4px;
}

.recent-classifieds {
border-bottom: 1px dotted;
padding-bottom: 6px;
padding-top: 6px;
position: relative;
}

.posts-view-all {
  padding-top: 6px;
}
.classifieds-post-label {
font-family: GOTHAMbold;
font-size: 12px;
float: left;
margin-right: 4px;
}
.recent-post-text {
font-family: GOTHAMbook;
font-size: 12px;
color: #626262;
line-height: 15px;
width: 240px;
}

.posts-view-all a {
  font-size: 12px;
  font-family: GOTHAMbook;
  text-decoration: none;
  color: #868686;
  padding-left: 16%;
}

.posts-view-all a:hover {
  color: #000;
  font-weight: bold;
}
.recent-post-channel {
position: absolute;
right: 0;
top: 11px;
background: url(images/camera.png) no-repeat;
height: 21px;
float: right;
width: 23px;
}

.browse-by-categories {
background: #dce5ec;
float: left;
width: 271px;
padding-left: 16px;
padding-right: 13px;
padding-bottom: 10px;
}
.browse-categories-label {
color: #005d80;
font-family: GOTHAMbold;
font-size: 12px;
text-transform: uppercase;
padding-top: 16px;
margin-bottom: 11px;
}

.cate-1 {
float: left;
width: 49%;
border-bottom: 2px solid #367d99;
margin-right: 2%;
padding-bottom: 0px;
padding-top: 9px;
}

.cate-2 {
float: left;
width: 48%;
border-bottom: 2px solid #367d99;
}

.categories.last .cate-1,
.categories.last .cate-2 {
  border: none;
}
.cate-img {
width: 37px;
float: left;
padding-left: 5px;
}
.cate-text {
padding-bottom: 7px;
padding-top: 0px;
padding-left: 41px;
}

.cate-label {
font-family: GOTHAMbold;
font-size: 12px;
color: #1e1f24;
display: block;
}
.cate-number {
font-size: 12px;
font-family: GOTHAMbook;
color: #686f75;
}
.cate-2 {
float: left;
width: 48%;
border-bottom: 2px solid #367d99;
padding-top: 9px;
}

#footer {
width: 1024px;
margin: 0 auto;
overflow: hidden;
}

#footer li.sports a {
  padding-right: 2px;
}

.pager-wrs-selection {
  background: #f1f1f1;
  float: left;
  width: 100%;
  line-height: 19px;
  text-align: center;
}

.pager-wrs-selection .pager1 a,
.pager-wrs-selection .pager2 a,
.pager-wrs-selection .pager3 a{
  text-indent: -9999em;
  background: url(images/pager.jpg) no-repeat;
  display: inline-block;
  width: 6px;
  height: 8px;
}

.footer-world-radio {
  float: left;
  width: 57.5%;
  text-align: center;
  margin-left: 11%;
  line-height: 28px;
  margin-top: 7px;
}

.footer-world-radio h1 {
  font-size: 18px;
  font-family: GOTHAMbold;
  color: #6c7476;
  text-transform: uppercase;
}

.footer-world-radio p {
  font-size: 14px;
  font-family: GOTHAMbook;
  color: #9b9b9b;
  text-transform: uppercase;
}

.social {
  float: left;
  margin-top: 7px;
}

/**css for hover **/
.latest-news li:hover {
background: #faf037;
}

.news-bulletion-label:hover {
background: #faf037;
color: #1f1f1f;
}

.sidebar-second .next-content:hover {
background: #faf037;
color: #1f1f1f;
}

.sidebar-second .next-content:hover > div {
  color: #1f1f1f;
}

.sidebar-second .later-content:hover,
.recent-classifieds:hover,
.categories .cate-1:hover,
.categories .cate-2:hover,
.wrs-selection-rows .wrs-selection-content:hover  {
  background: #faf037;
}

.sidebar-second .later-content:hover > div {
  color: #1f1f1f;
}

.sidebar-second .later-content:hover > div > span {
  color: #1f1f1f;
}

.content-middle-banner,
.wrs-selection-img {
  position: relative;
}

.content-middle-banner:hover:before {
  background: url(images/Banner-hover.jpg);
}

.slides:hover:before,
.foriegn-affair:hover:before,
.wrs-selection-img:hover:before {
  background: #faf037;
  opacity: .8;
  }

.slides:hover:before {
  background: url(images/slider-hover.png) #faf037 no-repeat center 138px;
}

.slides:before,
.foriegn-affair:before,
.content-middle-banner:before,
.wrs-selection-img:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /**-moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;**/
  }

.later-description:hover .later-wrs {
  background: url(images/wrs-hover.png);
}
.slides:hover .slider-text-country,
.slides:hover .slider-date {
  background: #faf037;
  color: #3c3c3c;
}

.foriegn-affair:hover .affair-content > span,
.wrs-selection-rows .wrs-selection-content:hover div{
  color: #3c3c3c;
  }

.wrs-selection-rows:hover .wrs-selection-content div {
  color: #3c3c3c;
}

.wrs-selection-rows:hover .wrs-selection-content {
  background: #faf037;
}


.wrs-selection-rows:hover .wrs-selection-img:before {
  background: url(images/classifieds-image-hover.png) #faf037 no-repeat center ;
  opacity: .8;
  }

.wrs-selection-img:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /**-moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;**/
  }

/* Brahminder Singh */


#upper {
  border:red solid thin none;
  width:944px;
  height:500px
}

#text-food {
 width:944px;
 height:55px;
 border:#000000 solid thin none;
 font-family:GOTHAMbold;
 font-size:30px;
 margin-top:25px;
}

#image-wrapper {
  border:green solid thin none;
  width:944px;
  height:417px;
}

#image-left {
  border:red solid thin none;
  width:622px;
  height:417px;
  float:left;
  position:relative;
}

#lft-i {

  width:622px;
  height:410px;
  margin-top:4px;
  position:relative;
}

#lft-i img
{
 width:622px;
  height:410px;
  }

#on-image {
  border:red solid thin none;
  width:600px;
  height:260px;
  position:absolute;
  top:130px;
  left:17px;
}

#on-img-one {
  border: thin solid blue none;
    color: WHITE;
    font-family: GOTHAMbold;
    font-size: 50px;
    height: 73px;
    padding: 12px 0 0;
    text-align: center;
    width: 600px;
}

#on-img-two {
   border: thin solid blue none;
    font-family: GOTHAMbold;
    font-size: 18px;
    height: 28px;
    padding-top: 4px;
    text-align: center;
    width: 600px;
	}

#on-img-three {
   border: thin solid blue none;
    font-family: GOTHAMbook;
    font-size: 20px;
    font-weight: bold;
    height: 24px;
    padding-top: 6px;
    text-align: center;
    width: 600px;
}

#on-img-four {
   border: thin solid blue none;
    color: red;
    font-family: GOTHAMbook;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    padding-top: 6px;
    text-align: center;
    width: 600px;
}

#image-right {

  width:315px;
  height:417px;
  float:right;
  position:relative;
}

#rgt-i {

  width:315px;
  height:410px;
  margin-top:4px;
  position:relative;
}

#rgt-i img {
  width:315px;
  height:410px;
}

#on-r-img {

  height: 190px;
    position: absolute;
    right: 22px;
    top: 223px;
    width: 248px;
}

#on-r-img-one {
    color: white;
    font-family: GOTHAMbook;
    font-size: 29px;
    height: 31px;
    padding-top: 10px;
    text-align: center;
    width: 248px;
	font-weight:bold;
	}



	#on-r-img-two {
    font-family: GOTHAMbook;
    font-size: 16px;
    height: 20px;
    text-align: center;
    width: 248px;
	font-weight:bold;
	}

#on-r-img-three {
    font-family: GOTHAMbook;
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}


#on-r-img-four {
    height: 20px;
    margin-top: 7px;
    text-align: center;
}

.wrs-selection {
  margin-top: 11px;
}

.content-bottom-middle h1 {
  font-family:Gothambold;
}

.programme .pager-wrs-selection {
  background: none;
}
