#Schedule_menu {
  background: #FDF9B0 ;
  height: 30px;
}
#Schedule_page {
  background: none repeat scroll 0 0 #FEF773;
  width: 100%;
}
.active a {
  color:#000 !important;
}
.Schedular_menu {
  padding-top: 5px;
  margin-left: 50px;
}
.Schedular_menu  li.sc_first{
  display: inline-block;
  padding-left: 6.3%;
}

.Schedular_menu  li {
  display: inline-block;
  padding-right: 1.5%;
}

.Schedular_menu li.sc_first a {
  color: #000000;
  font-family: GOTHAMbold;
}

.Schedular_menu li a {
  color: #126577;
  display: inline-block;
  font-family: GOTHAM;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
}
.main_schedule {
  height: 20%;
  margin: 36px 36px 36px 0;
}
.main_schedule .schedule {
  font-size: 30px;
  font-family: gothambold;
}
.main_schedule .day_date {
  color: #939393;
  font-family: gothambook;
  font-size: 30px;
  margin-left:6px;
}
.First_div ,.foriegn-affair{
  float: left;
}
.first_col {
  min-height: 87px;
 }
.second_col,.third_col {
  min-height: 100px;
  background: #fff3f5;
  border-top: 4px solid #e40c23;
}
.fourth_col,.fifth_col {
  min-height: 100px;
  border-top: 4px solid #ED501D; 
}
.second_col:hover,.third_col:hover,.fourth_col:hover, .fifth_col:hover ,.sixth_col:hover ,.eighth_col:hover ,.seventh_col:hover{
  background:#faf037;
  opacity: 0.8; 
}
.fourth_col {
  background: #8BD393 url("images/recorder_hoever.jpg") no-repeat 472px 17px;
  border-top: 4px solid #3EB551;
  z-index: 9; 
}
.eighth_col {
  min-height: 100px;
  border-top: 4px solid #025C75;
}
.sixth_col,.seventh_col {
  min-height: 100px;
  border-top: 4px solid #6f37d8;
}
.first_col_first,.first_col_second ,.first_col_third{
  float: left;
  min-height: 87px;
  width: 226px;
  background: #F1F1F1;
}
.first_col_first:hover ,.first_col_second:hover ,.first_col_third:hover {
  background:#faf037;
  opacity: 0.8; 
}
.eighth_col_div {
  float: left;
  margin-left: 10px;
  width: 495px;
}
 .first_col_second ,.first_col_third {
  margin-left: 3px;
 }
 .title {
  font-size: 18px;
  font-family: gothambold;
  text-transform: uppercase;
  line-height: 48px;
  margin-left: 10px;
 }
 .title a {
  text-decoration: none;
  color: #046286;
 }
 .title1 {
  color: #e40c23;
  font-family: gotham;
<<<<<<< HEAD
  font-size: 15px;
  font-weight: bold;
  line-height: 33px;
  text-transform: uppercase;
}
.fourth_col_div .title1 {
  color: #ED501D;
}
.sixth_col_div .title1 {
  color: #6f37d8;
}
.eighth_col_div .title1 {
  color: #025C75;
<<<<<<< HEAD
  font-size: 18px;
  font-family: gothan;

}
 .author {
  display: block;
  font-size: 13px;
  font-family: gothambold;
  margin-left: 10px; 
  margin-top: -15px;
  text-transform: uppercase;
  word-spacing: 1px;
}
.authors {
  text-transform: capitalize;
  font-size: 13px;
  color: #9c9c9c;
  margin-top: -6px;
}
.day_time {
  color: #9c9c9c;
  font-size: 12px;
  font-family: gotham;
  line-height: 29px;
  margin-left: 10px;
  text-transform: uppercase;
  float:left;
  margin-right:10px;
}
.day_time a {
  color: #939393;
}
.second_col_div,.fourth_col_div,.sixth_col_div {
  margin-left: 10px;
  float: left;
  width: 290px;
}
.img_tag {
  float: left;
  margin-left: 20px;
}
.company {
  font-size: 12px;
  line-height: 21px;
}
.eight_col_div {
  margin-left: 10px;
  float: left;
  width:455px;
}
.eighth_col .day_time {
    width: 38px;
}
.eighth_col .img_tag {
  height: 105px;
}
.Highlighted a {
  text-decoration: none;
  color: #025C75;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase; 
}
.health-matters .health-text {
  color: #FFFFFF;
  display: block;
  font-family: DIN;
  font-size: 30px;
  line-height: 26px;
  margin-left: 10%;
  width: 100px;
}
.recorder {
  float: left;
  margin-top: 36px;
}
.recorder2 {
  float: left;
  margin-top: 36px;
  margin-left: 21px;
}
.recorder4 {
  background: none repeat scroll 0 0 #CCC;
  float: left;
  margin-top: 15px;
  text-align: center;
  width: 90px;
  min-height: 70px;
  z-index:-1;
}
.recorder4 .recorder_text {
  display: inline-block;
  font-family: gothambold;
  font-size: 18px;
  padding-top: 15px;
}
.recorder4 .recorder2_text {
  font-family: gothan;
  font-size: 14px
}
.cmpny_logo2 {
  float:left;
  margin-top:36px;
  margin-left: 65px;
} 
.cmpny_logo3 ,.cmpny_logo4,.cmpny_logo6,.cmpny_logo7{
    float: left;
    margin-left: 128px;
    margin-top: 36px;
}
.cmpny_logo5{
  float: left;
  margin-top:36px;
  margin-left: 35px;
}
.health-matters {
  float:left;
  margin-top: 10px;
}
.health-matters .dr-name {
  color: #F8F943;
  line-height: 90px;
  font-family: GOTHAMbold;
  font-size: 11px;
  margin-left: 9.6%;
  margin-top: 41px;
  width: 105px;
}
.foriegn-affair .listen-live {
  margin-top: 7px;
} 
.health-content {
  min-width: 200px;
  position: absolute;
  top: 560px;
}
.health-matters .health-text1 {
  display: inline-block;
  font-family: gothambold;
  font-size: 20px;
  margin-left: 8.2%;
  position: relative;
  top: -10px;
  color: #F8F943;
}
.latest_news_content {
  float: left;
  margin-top: 33px;
  background-color: #000000;
  min-height: 60px;
  width: 100%;
  text-align: center;
  color: #faf037;
}
.latest_news_content span {
  text-align: center;
  font-size: 12px;
  font-family: gothambold;
  line-height: 55px;
}
.health-matters:hover {
  background:none repeat scroll 0 0 #faf037;
  opacity: 0.9;
}
.health-text1:hover,.health-text:hover,.dr-name:hover {
  background:#faf037;
  color:#000000;
  opacity: 0.8;
}
.on_air {
  background: none repeat scroll 0 0 #000000;
  color: #FAF037;
  float: right;
  font-family: GOTHAMbold;
  font-size: 15px;
  padding: 4px 0 4px 11px;
  width: 40px;
}
.latest_news_content:hover {
  background:#faf037;
  color: #000000;
  opacity: .8;
}
.primary-content {
  margin-bottom: 60px;
  width: 72%;
}