#Schedule_menu {
  background: #FDF9B0 ;
  height: 30px;
}
#Schedule_page {
  background: none repeat scroll 0 0 #FEF773;
  width: 100%;
}
.active a {
  color:#000 !important;
}
#Schedule_page #main-menu-sub li a {
  font-size: 14px;
}
#Schedule_page .main-menu-sub-top  li.sc_first a{
  display: inline-block;
  padding-left: 6.3%;
}

#Schedule_page .main-menu-sub-top  li {
  display: inline-block;
  padding-right: 1.5%;
}

#Schedule_page .main-menu-sub-top li.sc_first a {
  color: #000000;
  font-family: GOTHAMbold;
}

#Schedule_page .main-menu-sub-topu li a {
  color: #126577;
  display: inline-block;
  font-family: GOTHAM;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
}
#Schedule_page .main_schedule {
  height: 20%;
  margin: 36px 36px 36px 0;
}
#Schedule_page .main_schedule .schedule {
  font-size: 30px;
  font-family: GOTHAMbold;
}
#Schedule_page .main_schedule .day_date {
  color: #939393;
  font-family: GOTHAMbold;
  font-size: 30px;
  margin-left:6px;
}
#Schedule_page .First_div ,#Schedule_page .foriegn-affair{
  float: left;
}
#Schedule_page .first_col {
  min-height: 87px;
 }
#Schedule_page .second_col, #Schedule_page .third_col {
  min-height: 100px;
  background: #fff3f5;
  border-top: 4px solid #e40c23;
}
#Schedule_page .fourth_col,#Schedule_page .fifth_col {
  min-height: 100px;
  border-top: 4px solid #ED501D;
}
#Schedule_page .fourth_col {
  background: #8BD393 url("images/recorder_hoever.jpg") no-repeat 472px 17px;
  border-top: 4px solid #3EB551;
  z-index: 9;
}
#Schedule_page .eighth_col {
  min-height: 100px;
  border-top: 4px solid #025C75;
}
#Schedule_page .sixth_col, #Schedule_page .seventh_col {
  min-height: 100px;
  border-top: 4px solid #6f37d8;
}
#Schedule_page .first_col_first,#Schedule_page .first_col_third{
  float: left;
  min-height: 87px;
  width: 226px;
  background: #F1F1F1;
}
#Schedule_page .first_col_second {
  background:#faf037;
  float: left;
  min-height: 87px;
  width: 226px;
}
#Schedule_page .eighth_col_div {
  float: left;
  margin-left: 10px;
  width: 495px;
}
 #Schedule_page .first_col_second ,#Schedule_page .first_col_third {
  margin-left: 3px;
 }
 #Schedule_page .schedule_title {
  font-size: 18px;
  font-family: GOTHAMbold;
  text-transform: uppercase;
  line-height: 48px;
  margin-left: 10px;
  float:left;
 }
 #Schedule_page .schedule_title a {
  text-decoration: none;
  color: #046286;
 }
 #Schedule_page .title1 {
  color: #e40c23;
  font-family: GOTHAMbold;
  font-size: 14px;
  line-height: 33px;
  text-transform: uppercase;
}
#Schedule_page .fourth_col_div .title1 {
  color: #ED501D;
}
#Schedule_page .sixth_col_div .title1 {
  color: #6f37d8;
}
#Schedule_page .eighth_col_div .title1 {
  color: #025C75;
}
 #Schedule_page .author {
  display: block;
  font-size: 13px;
  font-family: GOTHAMbook;
  margin-left: 10px;
  margin-top: -15px;
  text-transform: uppercase;
  word-spacing: 1px;
  float:left;
  width: 100%;
}
#Schedule_page .authors {
  text-transform: capitalize;
  font-size: 13px;
  color: #9c9c9c;
  margin-top: -6px;
}
#Schedule_page .fourth_col_div .authors {
  color: #000000;
}
#Schedule_page .day_time {
  color: #9c9c9c;
  font-size: 12px;
  font-family: gotham;
  line-height: 29px;
  margin-left: 10px;
  text-transform: uppercase;
  float:left;
  margin-right:10px;
}
#Schedule_page .day_time a {
  color: #939393;
}
#Schedule_page .second_col_div,#Schedule_page .fourth_col_div,#Schedule_page .sixth_col_div {
  margin-left: 10px;
  float: left;
  width: 290px;
}
#Schedule_page .img_tag {
  float: left;
  margin-left: 20px;
}
#Schedule_page .company {
  font-family: GOTHAMbook;
  font-size: 13px;
  line-height: 21px;
}
#Schedule_page .eight_col_div {
  margin-left: 10px;
  float: left;
  width:455px;
}
#Schedule_page .eighth_col .day_time {
    width: 27px;
}
#Schedule_page .eighth_col .img_tag {
  height: 105px;
}
#Schedule_page .Highlighted a {
  text-decoration: none;
  color: #025C75;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
#Schedule_page .health-matters .health-text {
  color: #FFFFFF;
  display: block;
  font-family: DIN;
  font-size: 30px;
  line-height: 26px;
  margin-left: 10%;
  width: 100px;
  margin-top: 20%;
}
#Schedule_page .recorder {
  float: left;
  margin-top: 36px;
}
#Schedule_page .recorder2 {
  float: left;
  margin-top: 36px;
  margin-left: 21px;
}
#Schedule_page .recorder4 {
  background: none repeat scroll 0 0 #CCC;
  float: left;
  margin-top: 15px;
  text-align: center;
  width: 90px;
  min-height: 70px;
  z-index:-1;
}
#Schedule_page .recorder4 .recorder_text {
  display: inline-block;
  font-family: GOTHAMbold;
  font-size: 18px;
  padding-top: 15px;
  padding-left: 4px;
}
#Schedule_page .recorder4 .recorder2_text {
  font-family: GOTHAMbold;
  font-size: 14px
}
#Schedule_page .cmpny_logo2 {
  float:right;
  margin-top:36px;
  margin-right: 24px;
}
#Schedule_page .cmpny_logo3 ,#Schedule_page .cmpny_logo4,#Schedule_page .cmpny_logo6,#Schedule_page .cmpny_logo7{
    float: right;
    margin-right: 24px;
    margin-top: 36px;
}
#Schedule_page .cmpny_logo5{
  float: right;
  margin-top:36px;
  margin-right: 24px;
}
#Schedule_page .health-matters {
  float:left;
  margin-top: 10px;
}
#Schedule_page .health-matters .dr-name {
  line-height: 90px;
  font-family: GOTHAMbold;
  font-size: 11px;
  margin-left: 9.6%;
  margin-top: 41px;
  width: 105px;
}
#Schedule_page .foreign-affair .listen-live {
  margin-top: 10px;
}
.health-content {
  min-width: 241px;
  position: absolute;
  top: 528px;
  height: 197px;
  color:#F8F943;
}
.health-matters .health-text1 {
  display: inline-block;
  font-family: GOTHAMbold;
  font-size: 20px;
  margin-left: 8.2%;
  position: relative;
  top: 10px;
}
.latest_news_content {
  float: left;
  margin-top: 33px;
  background-color: #000000;
  min-height: 60px;
  width: 100%;
  text-align: center;
  color: #faf037;
}
.latest_news_content span {
  text-align: center;
  font-size: 12px;
  font-family: GOTHAMbold;
  line-height: 55px;
}
.health-matters:visited {
  background: transparent;
}
.schedule_on_air {
  background: none repeat scroll 0 0 #000000;
  color: #FAF037;
  float: right;
  font-family: GOTHAMbold;
  font-size: 15px;
  padding: 4px 0 4px 11px;
  width: 40px;
  margin-top: 10px;
}
.latest_news_content:hover {
  background:#faf037;
  color: #000000;
  opacity: 0.8;
}
.primary-content {
  margin-bottom: 60px;
  width: 72%;
}
