/* page.css --  used with page.html for template.

   Impt: Use with reset.css OR  normailise.css
 */

@font-face {
  font-family: DIN;
  src: url(font/DIN/din1451engschrift.ttf);
}

@font-face {
  font-family: GOTHAMbold;
  src: url(font/Gotham/Gotham-Bold.otf);
}

@font-face {
  font-family: GOTHAMbook;
  src: url(font/Gotham/Gotham-Book.otf);
}
@font-face {
  font-family: GOTHAMblack;
  src: url("font/Gotham/Gotham-Black.otf");
}
body  {
    margin:    0;
    border:    0;
    padding:   0;
    font-size: 100%;
}


#main-menu .main-top-menu a.active,
.main-menu-sub-top a.active {
  color: #000;
}


#page  {
    /**max-width: 1024px;
    margin: 0 auto; **/
    width:  100%;
    background: #fef773;
}

.header-top {
  overflow: hidden;
}

.logo {
  float: left;
  margin-left: 0.6%;
}

.top-menu {
  float: left;
  width: 50%;
}

.top-nav-menu {
  margin-top: 15px;
  margin-left: 7.2%;
}

.top-menu li {
  display: inline-block;
  padding-right: 2.5%;
}

.sign {
  float: right;
  width: 12.7%;
}

.sign-in {
  margin-top: 15px;
}
.sign li {
  display: inline-block;
}
.sign li.first {
  border-right: 1px solid;
  padding-right: 7px;
 line-height: 11px;
}
.sign li a {
    text-decoration: none;
    color: #075a78;
    font-family: GOTHAMbold;
    font-size: 13px;
}
.top-menu .top-nav-menu li a{
    text-decoration: none;
    color: #075a78;
    font-family: GOTHAMbold;
    font-size: 11px;
    background: url(images/down-arrow.jpg) no-repeat center right;
    padding-right: 14px;
}

.header {
  background: #f8f8f8;
}

#header-block  {
    min-height: 144px;
    width:100%;
    max-width: 1024px;
    margin: 0 auto;
}


#header-menu  {
    background-color: #F9F035;
    height:   63px;
    width:    30%;
    position: relative;
    left:     23.5%;
    top:      90px;
}


#header-menu li  {
   float:           left;
   list-style-type: none;
   width:           32%;
   background:      #666;
   text-align:      center;
   border-right:    3px solid #ccc; /* TODO:last menu shouldn't have a border */
}

.radios {
  margin-left: 5.8%;
  margin-top: 9px;
  float: left;
  width: 7.8%;
}

.listen {
  float: left;
  margin-top: 21px;
}

.listen a {
  text-decoration: none;
  color: #015b7e;
  font-family: GOTHAMbold;
  font-size: 14px;
  letter-spacing: 2px;
}
/* Not used */
.mid-border  {
  border-left: 1px solid #ccc;
  border-right:1px solid #ccc; /* TODO:last menu shouldn't have a border */
}

/**css for header tabs **/
.header-tabs ul li {
  display: inline-block;
}

.header-tabs {
  float: left;
  margin-left: 4.7%;
}

.header-tabs li a.radio {
  color: #0054a5;
  background: #ffe102;
  padding: 15px 30px;
  line-height: 46px;
}

.header-tabs li a {
  text-decoration: none;
  font-family: GOTHAMbold;
  font-size: 22px;
}

.header-tabs li.community {
  margin-left: -2px;
}

.header-tabs li.events {
  margin-left: -2px;
}

.header-bottom-media {
  float: right;
  margin-top: -32px;
  margin-right: 3.2%;
}

.header-tabs li a.community {
  background: #ff8201;
  padding: 15px 26px;
  color: #fff;
}

.header-tabs li a.events {
  background: #015b7e;
  padding: 15px 23px;
  color: #fff;
}

#main-menu {
  background: #ffe100;
  line-height: 38px;
}

#main-menu li {
  display: inline-block;
  padding-right: 1.5%;
}

#main-menu li a {
  color: #0054a5;
  font-family: GOTHAMbold;
  font-size: 13px;
  display: inline-block;
  text-decoration: none;
}

#main-menu li.first {
  padding-left: 3.3%;
}

#main-menu li a:hover{
color: #000000;
}


#main-menu input.search {
  margin-left: 16.5%;
  border: 0px;
  padding: 4px;
  width: 150px;
  outline: none;
  padding-left: 10px;
}




searchresult .main-region {
  width: 1024px;
  margin: 0 auto;
  margin-bottom: 72px;

}

#main-content{
  overflow: hidden;
  padding: 0 3.5%;
  background: #fff;
  padding-bottom: 124px;
}

#main-menu form {
  float: left;
  width: 235px;
  height: 24px;
}
#main-menu .submit {
  display: inline-block;
  border: none;
  width: 28px;
  background: url(images/search.jpg);
  height: 23px;
  text-indent: -9999em;
  margin-left: -4px;
}

.main-region {
  width: 1028px;
  margin: 0 auto;
}


#main-menu ul,
#sub-menu ul {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}




.searchresult .sidebar{
  float:left;
  width: 222px;
  height: 1110px;
  font-size: 14px;
  margin-top: 63px;
  }
  .searchresult .mainbar{
    float: right;
    height: 1200px;
    margin-top: 50px;
    width: 713px;


  }

.searchresult .sidebar label{
  color: #9c9c9c;
  letter-spacing: 1px;
   font-family: GOTHAMbold;
}
.searchresult .filter{
  margin-top: 22px;
}

.searchresult .filter h1{

  color: #015b7e;
  font-family: GOTHAMbold;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 6px;
}

.searchresult .filter p{
  margin-top: 4px;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0px;
  font-family: GOTHAMbook;
   }

.searchresult .filter form{
  margin-left: 0px;
}


.searchresult .intro{
  width: 223px;
  height: 47px;
  background-color:#e6e8fa;
  color: #bababa;
  font-family: GOTHAMbook;
  font-size: 10px;
  padding-left: 11px;
  padding-top: 12px;
  margin-bottom: 10px;
}

.searchresult .intro label{
  font-size: 10px;
  color: #9c9c9c;
  font-family: GOTHAMbold;
}

.searchresult .intro p{
  color: #015b7e;
  font-family: GOTHAMbold;
  font-size: 14px;
  margin:7px 0px;
  }
/*---MYCODEDESIGN---*/

.searchresult #searchresults {
    font-family: GOTHAMbold;
    font-size: 30px;
    margin-bottom: 31px;
    margin-top: 40px;
    color:#005D83

  }
  .searchresult #Results
   {
    color: #9C9C9C;
    font-family: GOTHAMbold;
    font-size: 24px;
    margin-top: -25px;

  }

.searchresult #Results span {
  color: black;
  font-size: 24px;
  font-family: GOTHAMbold;
       }
  .searchresult .navbar
  {
    background-color: #FFE102;
    width: 713px;
    height: 30px;
  }
  .searchresult .numbering
  {
    color: #9A9A9A;
    font-family: GOTHAMbook;
    font-size: 12px;
    font-weight: bold;
    height: 17px;
    padding: 7px 41px 3px 12px;
    width: 713px;

  }
  .searchresult .numbering span {
    font-family: GOTHAMbook;
    font-size: 10px;
    padding-left: 445px;

  }
  .searchresult .numbernav
  {
    border: dotted;
  }
  .searchresult .navig
  {



    height: 24px;

  }

  #Results span.num {
    font-family: GOTHAMbook;
  }

.searchresult .navig-in li a:hover {
    color: #000;
    font-family: GOTHAMbold;
  }
  .searchresult .navig-in
  {
    color: #999999;
    float: left;
    font-family: GOTHAMbook;
    font-size: 13px;
    height: 20px;
    margin-left: 15px;
    padding-top: 8px;
    width: 60px;
     letter-spacing: 2px;
  }
  .searchresult .navig-in li
  {

    display: inline-block;



  }
  .searchresult .navig-in li a
  {
    text-decoration: none;
    color: #497C5B
  }
  .searchresult li a.active
  {
    font-weight: bold;
    color: black;
  }


  .searchresult .navig span
  {
    font-family: GOTHAMbold;
    font-size: 10px;
    color: #999999;
    margin-top: 3px;
  }

.searchresult .navig .pager-num .showing-page {
  padding-right: 16px;
}
  .searchresult .navig .pager-num {
  float: right;
  }
  .searchresult .navig .pager-num select {
    margin-top: 5px;
  }
.searchresult #row1
{

  width: 713px;
  height: 100px;
  margin-top: 12px;
  border-top: medium solid #CFCFCF;

}
.searchresult #row1text
{

    font-family: GOTHAMbook;
    font-size: 10px;
    height: 74px;
    margin-left: 110px;
    padding-top: 5px;
    width: 600px

}
.searchresult #newsline
{

padding-top: 0px;
width: 160px;
height: 15px;
margin-left: 4px;

}

.searchresult #newsline-1
{

padding-top: 0px;
width: 150px;
height: 15px;
margin-left: 4px;
letter-spacing: 1px;
color: #7A4DDC;
font-family: GOTHAMbold;

}

.searchresult #newsline-B
{
letter-spacing: 1px;
padding-top: 0px;
width: 150px;
height: 15px;
margin-left: 4px;

color: #0052B2;
font-family: GOTHAMbold;

}

.searchresult #newsline-R
{

padding-top: 0px;
width: 150px;
height: 15px;
margin-left: 4px;

color: red;
font-family: GOTHAMbold;

}

.searchresult #news
{
    float: left;
    font-family: GOTHAMbook;
    font-size: 10px;
    width: 39px;
    margin-left: 2px;

}
.searchresult #health
{
  color: red;
    font-family: GOTHAMbook;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 39px;
    width: 124px;
}
.searchresult #archi
{
  font-family: GOTHAMbook;
  font-size: 10px;
  width: 101px;
  margin-left: 39px;
  color: #6847C9;
  font-weight: bold;
  letter-spacing: 1px;
}
.searchresult #sideimagerow1
{
  float: right;

  height: 46px;

  margin-top: -10px;
}

.searchresult #boldlinerow1
{

    float: left;
    font-family: GOTHAMbold;
    font-size: 14px;

    height: 16px;
    margin-left: 5px;
    width: 360px;
}

.searchresult #boldlinerow1 a {
  text-decoration: none;
  color: #000000;
}

.searchresult #timerow1
{

    height: 12px;
    width: 101px;
    margin-left: 5px;

    margin-top: 10px;
    font-family: GOTHAMbook;
    font-size: 10px;

}
.searchresult #pararow1
{

  height: 32px;
  width: 521px;
  font-size: 13px;
  font-style: GOTHAMbold;
  margin-left: 5px;
  color: #9c9c9c;
  margin-top: 10px;
}
.searchresult #picrow1
{
  width: 10px;
  height: 60px;
  float: left;
}
.searchresult #picrow1 img
{
  width: 100px;
  height: 60px;;
}

.primary-content {
  float: left;
  width: 72.5%;
}
 .news-today {
  margin-top: 34px;
}

.news-today h1 {
  color: #1f1f1f;
  font-size: 20px;
  font-family: GOTHAMbold;
  display: inline-block;
}

.news-date {
  color: #bababa;
  font-family: GOTHAMbook;
  font-size: 20px;
  margin-left: 0.6%;
}

.slider {
  float: left;
  margin-top: 14px;
  width: 444px;
  height: 401px;
}

.latest-news-bulletion {
  float: left;
  margin-top: 15px;
  margin-left: 0.3%;
  background: #f1f1f1;
  width: 34.6%;
  padding-bottom: 7px;
}

.latest-news-bulletion li {
  display: inline-block;
  border-bottom: 1px solid #9c9c9c;
  padding-bottom: 8px;
  padding-top: 5px;
  width: 100%;
}

.latest-news {
  padding: 0px 3.6%;
}

.latest-news-bulletion .news-label {
  font-family: GOTHAMbold;
  font-size: 12px;
  color: #0054a5;
  display: block;
  margin-top: 10px;
  margin-bottom: 8px;
}

.latest-news-bulletion .news-bulletion-label {
  display: block;
  background: #242021;
  line-height: 29px;
  margin-left: 2px;
  margin-right: 1px;
  text-align: center;
  color: #f2f33d;
  font-size: 13px;
  font-family: GOTHAMbold;
  padding-left: 3.8%;
}

.latest-news-bulletion li a {
  font-family: GOTHAMbook;
  font-size: 13px;
  color: #242223;
  padding-left: 0.8%;
  text-decoration: none;
}

.on-air {
  margin-top: 34px;
  margin-bottom: 14px;
}

.on-air h1 {
  color: #1f1f1f;
  font-size: 20px;
  font-family: GOTHAMbold;
}

.foriegn-affair {
  position: relative;
}

.affair-content{
  position: absolute;
  top: 0;
  min-width: 200px;
}

.affair-text1 {
  color: #fff;
  margin-top: 17px;
  display: inline-block;
  margin-left: 8.2%;
  font-size: 20px;
  font-family: DIN;
}

.foriegn-affair .affair-text {
  display: block;
  width: 100px;
  color: #fff;
  font-family: DIN;
  font-size: 30px;
  margin-left: 10%;
  line-height: 26px;
}

.foriegn-affair .philip-mottaz {
  display: inline-block;
  font-size: 11px;
  font-family: GOTHAMbold;
  color: #f8f943;
  margin-top: 41px;
  margin-left: 9.6%;
  width: 105px;
}

.foriegn-affair .listen-live {
  background: #fcee36;
  margin-top: 30px;
  display: block;
  margin-left: 4%;
  line-height: 18px;
  width: 105px;
}

.foriegn-affair .listen-live img {
  margin-left: 5%;
  margin-top: 3px;
}

.foriegn-affair .listen-live a {
  text-decoration: none;
  font-size: 12px;
  font-family: GOTHAMbold;
  color: #28181b;
  padding-left: 4px;
}


.later-content .later-label {
  color: #FFF;
  font-size: 14px;
  font-family: GOTHAMbold;
  line-height: 9px;
}

.later-content .later-description {
  line-height: 22px;
}

.later-content .later-time {
  font-size: 14px;
  font-family: GOTHAMbook;
  color: #fff;
  padding-right: 12px;
}

.later-content .later-text {
  color: #fff63d;
  font-size: 14px;
  font-family: GOTHAMbold;
}

.content-bottom-banner {
  margin-top: 35px;
  float: left;
}

/** css for footer **/
#footer {
width: 1024px;
margin: 0 auto;
overflow: hidden;
}
#footer .footer-menu li {
  display: inline-block;
  padding: 9px 2.2%;
  float: left;
}

#footer .footer-menu li a {
  text-decoration: none;
  font-family: GOTHAMbold;
  font-size: 12px;
  color: #fff227;
}

#footer .footer-menu li.news {
  background: #e40c23;
}

#footer .footer-menu li.arts {
  background: #6a37d4;
}

#footer .footer-menu li.business {
  background: #0153a5;
}

#footer .footer-menu li.home-family {
  background: #ef4f1d;
}

#footer .footer-menu li.life {
  background: #646464;
}

#footer .footer-menu li.science-tech {
  background: #34b751;
}

#footer .footer-menu li.sports {
  background: #1d58f0;
}

.footer-bottom {
  background: #f8f8f8;
  float: left;
  width: 100%;
}

.footer-bottom-menu ul {
  color: #1b1b1b;
  font-size: 12px;
  font-family: GOTHAMbold;
}

.footer-bottom-menu ul h1 {
  margin-bottom: 4px;
}

.footer-content-partners ul h1{
  margin-bottom: 20px;
}

.footer-bottom-menu li {
  line-height: 17px;
}

.footer-bottom-menu li a{
  text-decoration: none;
  font-size: 12px;
  font-family: GOTHAMbook;
  color: #065983;
}

.footer-bottom-menu {
  float: left;
  width: 100%;
  padding-top: 50px;
}

.footer-wrs {
  float: left;
  width: 26.1%;
}

.footer-wrs li {
  padding-left: 8.2%;
}
.footer-radio {
  float: left;
  width: 14.1%;
}

.footer-community {
  float: left;
  width: 14.1%;
}

.footer-events {
  float: left;
  width: 14%;
}

.footer-about {
  float: left;
  width: 12%;
}

.footer-content-partners {
  float: left;
}

.voices .col:hover .pic:before,
 .voices .col:hover .intro,
 .voices .col:hover .intro label,
 .voices .col:hover .intro p
 {
  background: #faf037 no-repeat center ;
  opacity: .9;
  color: black;
  }

.voices .col .pic:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /**-moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;**/
  }
.voices .col  .pic{
  position: relative;
}

.voices .col:hover img {
  border-bottom: 4px solid #faf037;
}

.voices .col:hover .intro {
  color: #000;
}

.voices .col:hover .intro p {
  color: #000;
}

.searchresult #boldlinerow1 a:hover {
  text-decoration: underline;
}
