/* page.css --  used with page.html for template.

   Impt: Use with reset.css OR  normailise.css
 */

@font-face {
  font-family: DIN;
  src: url(font/DIN/din1451engschrift.ttf);
}

@font-face {
  font-family: GOTHAMbold;
  src: url(font/Gotham/Gotham-Bold.otf);
}

@font-face {
  font-family: GOTHAMbook;
  src: url(font/Gotham/Gotham-Book.otf);
}

body  {
    margin:    0;
    border:    0;
    padding:   0;
    font-size: 100%;
}




#main-menu {
  background: #ffe100;
  line-height: 38px;
}

#main-menu li {
  display: inline-block;
  padding-right: 1.5%;
}

.term-of-use .primary-content {
  margin-top: 39px;
}

.term-of-use .right-content .right-top1 {
  margin-top: 102px;
}

.term-of-use #main-content .primary-content .h1-content {
  font-size: 21pt;
}

.term-of-use #main-content .primary-content p {
  font-size: 14px;
  line-height: 20px;
  font-family: GOTHAMbook;
}

.term-of-use .content-bottom-middle h1 {
  margin-bottom: 10px;
}

.term-of-use .footer-bottom-menu .footer-wrs img {
  margin-top: -22px;
}

.term-of-use #main-content {
  padding-bottom: 109px;
}

.primary-content {
  float: left;
  width: 65%;
  height:800px;
  font-size:10px;
  margin-top:70px;

}
.term-of-use .right-content
{
width:300px;
float:left;
}

.right-top1
{
margin-top:135px;
width:300px;
margin-bottom:30px;
background-color:#000000;
color:#FFFF00;
font-family: GOTHAMbold;
}

.term-of-use .right-top1 h1
{line-height: 69px;
    padding: 0 0 0 10px;
}
.right-top2 h1
{
font-family: GOTHAMbold;
font-size:11pt;
font-weight:bold;
width:200px;
float:right;
margin-right:100px;
}

.term-of-use .content-bottom-first,
.term-of-use .content-bottom-middle {
padding-right: 0px;
}
.right-footer
{
float:right;
margin-right:2px;
margin-top:5px;
}

.h1-content
{
font-size:30px;
font-family: GOTHAMbold;

margin-bottom:30px;
}
.primary-content p
{
font-family:GOTHAMbook;
font-size:12pt;
line-height:1.3em;
text-align:justify;

}

.content-bottom-middle h1
{
margin-bottom:30px;
font-family: GOTHAMbold;
}
.news-today {
  margin-top: 34px;
}

.news-today h1 {
  color: #1f1f1f;
  font-size: 20px;
  font-family: GOTHAMbold;
  display: inline-block;
}


/** css for content bottom */

.term-of-use .content-bottom {
  float: left;
  width: 100%;
  margin-top: 35px;
}
.term-of-use .primary-content {
float: left;
width: 65.5%;
margin-right: 3%;
}

.term-of-use .content-bottom-middle .title{
  font-size: 14px;
}
