.theme .news-today h2 {
background: #0951a5;
color: #fff;
font-family: GOTHAMbold;
font-size: 12px;
float: left;
padding: 0 13px;
line-height: 23px;
margin-top: 3px;
margin-right: 10px;
}

.theme .news-today h1 {
  color: #005c7e;
}

.theme .news-content-middle-title h1{
  font-family: GOTHAMbook;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.news-content-middle-title h1 span {
  font-family: GOTHAMbold;
}

.theme .news-content-middle {
  margin-top: 61px;
}

.theme .themes-sidebar {
  font-family: GOTHAMbold;
  margin-bottom: 20px;
}

.theme .wrs-selection-rows {
  width: 100%;
}

.theme .wrs-selection-rows .wrs-selection-content {
  background: #0153a5;
  height: 98px;
  color: #fff;
}

.theme .wrs-selection-rows .wrs-selection-main-desc a {
  color: #fff;
}
.theme .wrs-selection-rows:hover .wrs-selection-content {
  border: none;
}

.theme .wrs-selection-rows .bbc-channel-img {
  background: url(images/bbc.png) no-repeat;
  width: 42px;
  height: 18px;
  position: absolute;
  top: 6px;
  right: 0;
}

.theme .wrs-selection-rows:hover .bbc-channel-img {
  background: url(images/bbc-hiver.png) no-repeat;
}

.theme .content-bottom {
  width: 66.7%;
}

.theme .content-bottom .wrs-selection .row-one {
}

.theme .content-bottom .wrs-selection .wrs-selection-rows {
  width: 50%;
  padding:0;
}

.theme .news-content-middle-container .wrs-selection-rows{
  width: 48%;
  padding-right: 3.5%;
}

.theme .news-content-middle-container .wrs-selection-rows.last {
  padding-right: 0;
}

.theme .news-content-middle-container .wrs-selection-rows .wrs-selection-content {
  background: #f1f1f1;
}

.theme .news-content-middle-container .wrs-selection-rows .wrs-selection-content .wrs-selection-main-title {
  color: #09519b;
}

.theme .news-content-middle-container .wrs-selection-rows .wrs-selection-content .wrs-selection-main-desc a {
color:#1b191a;
}

.theme .news-content-middle-container .wrs-selection-rows:hover .wrs-selection-content {
  background: #faf037;
}
